body
{
    background: #bbb;
}

.person, h1 {
    background-color: white;
    box-shadow: 4px 4px 2px rgba(0,0,0,.4);
}

.container {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    background-color: transparent;
}

h1 {
    text-align: center;
    grid-column: 1/7;
    height: 2em;
    padding: 4px;
    margin: 0px;
}

.row {
    border-bottom: 1px solid black;
}

.person > div {
    padding: 4px;
}
